* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body {
	background: url('../img/init.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top:55px; 
	font-family:'Open Sans',Sans-serif, Arial, Helvetica;
}

a {
	text-decoration: none;
}

/*carrusel de imagenes*/

.titulo {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}


/*Materialize*/

.carousel{
    min-height: 500px;
}

.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    background: #ccc;
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.carousel .indicators .indicator-iten{
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #36221c;
}

/*carrusel de imagenes*/

/*Particles*/
#particles-js{
  width: 100%;
  height:100vh; 
  opacity: 0.9;
  position: fixed;
  z-index: -1;
}



/*Header*/

.header2{
	background: #000;
	position: fixed;
	z-index: 1500;
	width: 100%;
	top: 0;

}

/*Danny*/

.header3{
	background: url(../img/danny/estresha.jpg);
	background-size: 580px;
	position: fixed;
	z-index: 1500;
	width: 100%;
	top: 0;

}

.menu2{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.menu2 .logo2{
	display: inline-block;
	margin-right: 1em;

}

.menu2 .logo2 img{
	width: 100%; 
	max-width: 54px;
	vertical-align: top;
	height: 42px;
}

.menu2 .btn-menu2{
	display: none;
	color:#fff;
	text-decoration: none;
	font-size: 1em;
}


.menu2 .enlaces8{
	display: inline-block;
	text-align: right;
}

.menu2 .enlaces8 a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 1em;
}

.menu2 .enlaces8 i{
	margin-right: 5px;

}

.menu2 .enlaces8 a:hover{
	background:url(../img/danny/cora.jpg);
	background-size: 90%;
	color:#000;
	font-weight: bold;
}


/*Danny*/
.menu{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.menu .logo1{
	display: inline-block;
	margin-right: 1em;

}

.menu .logo1 img{
	vertical-align: top;
	height: 42px;
}

.menu .btn-menu{
	display: none;
	color:#fff;
	text-decoration: none;
	font-size: 1em;
}

.menu .logo1:hover{
	background: #000; 
}

.menu .enlaces{
	display: inline-block;
	text-align: right;
}

.menu .enlaces a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 1em;
}

.menu .enlaces i{
	margin-right: 5px;

}

.menu .enlaces a:hover{
	background: #F5B041 ;
	color:#000;
	font-weight: bold;
}

/*Mishi*/
.menu .enlaces1{
	display: inline-block;
	text-align: right;
}

.menu .enlaces1 a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 1em;
}

.menu .enlaces1 i{
	margin-right: 5px;

}

.menu .enlaces1 a:hover{
	background: #FA58F4;
	opacity: 0.9;
	color:#2C3E50;
	font-weight: bold;
}


/*Danny*/



/*Mishi*/

/*Adrian*/
.menu .enlaces2{
	display: inline-block;
	text-align: right;
}

.menu .enlaces2 a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 1em;
}

.menu .enlaces2 i{
	margin-right: 5px;

}

.menu .enlaces2 a:hover{
	background: #899CB2;
	opacity: 0.7;
	color:#000;
	font-weight: bold;
}


/*Adrian*/

/*Bonny*/

/*Adrian*/
.menu .enlaces3{
	display: inline-block;
	text-align: right;
}

.menu .enlaces3 a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 1em;
}

.menu .enlaces3 i{
	margin-right: 5px;

}

.menu .enlaces3 a:hover{
	background:  #8E44AD;
	opacity: 0.7;
	color:#000;
	font-weight: bold;
}


/*Adrian*/
	
/*Bonny*/

/*chavez*/

 .menu .enlaces4{
	display: inline-block;
	text-align: right;
}

.menu .enlaces4 a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 1em;
}

.menu .enlaces4 i{
	margin-right: 5px;

}

.menu .enlaces4 a:hover{
	background:  #28B463 ;
	opacity: 0.7;
	color:#000;
	font-weight: bold;
}


/*chavez*/

/*Vincen*/

.menu .enlaces5{
	display: inline-block;
	text-align: right;
}

.menu .enlaces5 a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 1em;
}

.menu .enlaces5 i{
	margin-right: 5px;

}

.menu .enlaces5 a:hover{
	background:  #3498DB;
	opacity: 0.7;
	color:#000;
	font-weight: bold;
}

/*Vincen*/

/*Gian*/

.menu .enlaces6{
	display: inline-block;
	text-align: right;
}

.menu .enlaces6 a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 1em;
}

.menu .enlaces6 i{
	margin-right: 5px;

}

.menu .enlaces6 a:hover{
	background:  #FF7CF2;
	opacity: 0.7;
	color:#000;
	font-weight: bold;
}


/*Gian*/

/*Jhony*/

.menu .enlaces7{
	display: inline-block;
	text-align: right;
}

.menu .enlaces7 a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 1em;
}

.menu .enlaces7 i{
	margin-right: 5px;

}

.menu .enlaces7 a:hover{
	background:  #943126;
	opacity: 0.7;
	color:#000;
	font-weight: bold;
}

/*Jhony*/


main{
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	background: #fff;
	padding: 20px;
	box-shadow: 0px 2px 5px rgba(0,0,0, 0.75);
}

main article h1{
	font-weight: normal;
	margin-bottom: .5em;
}

main article hr{
	margin-bottom: 1em;
	height: 2px;
	background: #4357ad;
	border: none;
}

main article p{
	margin-bottom: 1em;
}

/*Efectos menu*/

.headroom{
	transition: transform .3s ease;

}

.headroom--pinned{
	transform: translateY(0%);
}

.headroom--unpinned{
	transform: translateY(-100%);
}

/*Mediaqueries*/

@media screen and (max-width: 700px){
	header .menu{
		flex-direction: column; 
	}

	header .menu .logo1{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 1em;

	}

	header .menu .logo1 .btn-menu{
		display: inline-block;
	}

	header .menu .enlaces{
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}


/*header*/


.contenedor {
	width: 90%;
	max-width: 800px;
	margin: auto;
}


/* HEADER */

header {
	padding: 40px 0;
}

header .logo {
	margin-top: 35px;
	text-align: center;
	margin-bottom: 40px;
}

header .logo p {
	margin-top: 35px;
	color: #283747;
}

header form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

header .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
}

header .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header .categorias a {
	color: #566573;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

header .categorias a.activo {
	color: #000;
}



/*Adrian*/
header .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header .categorias a {
	color: #566573;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

header .categorias a.activo {
	color: #D5D8DC ;
}
/*Adrian*/


/* Grid */


.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.333333% - 20px);
}

.grid .item-contenido {
	position: relative;
}

.grid .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
}

/* Overlay */

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
	z-index: 3000;
}

.overlay img {
	width: 100%;
	max-width: 450px;
	max-height: 600px;
	height: 100%;
}

.overlay .descripcion {
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	z-index: 1000;
	border-radius: 10px;
	max-width: 50%;
}

.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}

/*Footer*/

footer .redes-sociales{
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;

}

footer .redes-sociales a{
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	color: #fff;
	margin: 20px;
	text-align: center;
	border-radius: 100px;
	transition: .3s ease all;

}

footer .redes-sociales .twitter {background: #1da1f2;}
footer .redes-sociales .facebook {background: #3b5998;}
footer .redes-sociales .instagram {background: #c13584;}

footer .redes-sociales a i {
	font-size: 20px;
	line-height: 60px;
}

footer .contenedor-icono:hover a {
	animation: icono .5s ease;
}

@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}

footer .creado-por {
	margin-bottom: 40px;
	text-align: center;
	font-size: 19.5px;
	color: #1A5276;
}

footer .creado-por a{ font-weight: bold;}
footer .creado-por a {color: #000;}
footer .creado-por a:hover {text-decoration: underline;}

/* Mediaqueries */

@media screen and (max-width: 700px) {
	.grid .item {
		width: calc(50% - 20px);
	}	

	

	header .barra-busqueda {
		width: 100%;
	}
}


@media screen and (max-width: 800px){
	.overlay img{
		width: calc(50% - 20px);
		margin-left:calc(50% - 100px); 
	}
}


@media screen and (max-width: 1000px){
	.overlay img{
		width: calc(80% - 20px);
		margin-left:calc(50% - 100px); 
	}
}

/*Parte de la descipción para el diseñador*/

.contenedordescrip {
	width: 90%;
	max-width: 700px;
	margin: auto;
	height: 100%;
	display: flex;
	align-items:center;
}
.tarjeta {
	margin:40px 0;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	z-index: 1000;
}

/* --------------------------------------- */
/* ----- Slider Banner */
/* --------------------------------------- */

.slider_banner {
	overflow: hidden;
	z-index: 1000;
	position: relative;
}

.slider_banner .banner {
	position: relative;
	width: 100%; 
}

.slider_banner .banner img {
	vertical-align: top;
	width: 100%;
	position: absolute;
	top: 0;
	left: 100%;
}

.slider_banner .flecha-banner {
	font-size: 35px;
	line-height: 35px;
	color: rgba(0,0,0,.2);
	position: absolute;
	top:50%;
	z-index: 1100;
}

.slider_banner .flecha-banner:hover {
	color: rgba(0,0,0,.5);
}

.slider_banner .flecha-banner.anterior {left: 20px;}
.slider_banner .flecha-banner.siguiente {right: 20px;}

/* --------------------------------------- */
/* ----- Slider Info */
/* --------------------------------------- */

.slider_info {
	text-align: center;
	overflow: hidden;
	padding: 20px 0;
	z-index: 1000;
	position: relative;
}

/* Seccion Informacion */

.slider_info .informacion {
	width: 100%;
}

.slider_info .informacion article {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.slider_info .informacion article .slide{
	background: #fff;
	width: 100%;
	left: 100%;
	padding: 20px 80px;
	position: absolute;
}
/* Slider Flechas */

.slider_info .flecha-info {
	font-size: 35px;
	line-height: 35px;
	color: #e6e6e6;
	position: absolute;
	top:50%;
	z-index: 1000;
}

.slider_info .flecha-info:hover {
	color:#2C3E50;
}

.slider_info .flecha-info.anterior {
	left: 20px;
}

.slider_info .flecha-info.siguiente {
	right: 20px;
}


/* Estilos para los Slide de Info */

.slider_info .informacion .nombre {
	color: #444444;
	font-size: 38px;
	line-height: 38px;
	font-weight:600;
	margin-bottom: 16px;
}

.slider_info .informacion .trabajo {
	color: #55acee;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 16px;
}

.slider_info .informacion .pais {
	color: #8d8d8d;
	font-family: 14px;
	line-height: 14px;
}

.slider_info .informacion .pais img {
	position: relative;
	top:2px;
	margin-right: 10px;
}

.slider_info .informacion .texto {
	color: #55acee;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Cheri';
}

.slider_info .informacion .subtitulo {
	color: #444444;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 16px;
	
}

/* Botones Slider Info */

.slider_info .informacion .botones {
	width: 100%;
}

.slider_info .informacion .botones span {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin: 0 10px;
	border-radius: 50%;
	background:#e6e6e6;
}

.slider_info .informacion .botones .active {
	background: #2C3E50;

}

.flex-caption p{
	font-family: Lato;
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	font-size: 45px;
	color: #000;
	font-weight: bold;
} 

/*Danny Descripción*/

.contenedordescrip2 {
	width: 90%;
	max-width: 700px;
	margin: auto;
	height: 100%;
	display: flex;
	align-items:center;
}
.tarjeta2 {
	margin:40px 0;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	z-index: 1000;
}

/* --------------------------------------- */
/* ----- Slider Banner */
/* --------------------------------------- */

.slider_banner2 {
	overflow: hidden;
	z-index: 1000;
	position: relative;
}


.slider_banner2 .flecha-banner2 {
	font-size: 35px;
	line-height: 35px;
	color: rgba(0,0,0,.2);
	position: absolute;
	top:50%;
	z-index: 1100;
}

.slider_banner2 .flecha-banner2:hover {
	color: rgba(0,0,0,.5);
}

.slider_banner2 .flecha-banner.anterior2 {left: 20px;}
.slider_banner2 .flecha-banner.siguiente2 {right: 20px;}

/* --------------------------------------- */
/* ----- Slider Info */
/* --------------------------------------- */

.slider_info2 {
	text-align: center;
	overflow: hidden;
	padding: 20px 0;
	z-index: 1000;
	position: relative;
}

/* Seccion Informacion */

.slider_info2 .informacion2 {
	width: 100%;
}

.slider_info2 .informacion2 article {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.slider_info2 .informacion2 article .slide{
	background: #fff;
	width: 100%;
	left: 100%;
	padding: 20px 80px;
	position: absolute;
}
/* Slider Flechas */

.slider_info2 .flecha-info {
	font-size: 35px;
	line-height: 35px;
	color: #e6e6e6;
	position: absolute;
	top:50%;
	z-index: 1000;
}

.slider_info2 .flecha-info:hover {
	color:#2C3E50;
}

.slider_info2 .flecha-info.anterior {
	left: 20px;
}

.slider_info2 .flecha-info.siguiente {
	right: 20px;
}


/* Estilos para los Slide de Info */

.slider_info2 .informacion2 .nombre {
	color: #444444;
	font-size: 38px;
	line-height: 38px;
	font-weight:600;
	margin-bottom: 16px;
}

.slider_info2 .informacion2 .trabajo {
	color: #55acee;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 16px;
}

.slider_info2 .informacion2 .pais {
	color: #8d8d8d;
	font-family: 14px;
	line-height: 14px;
}

.slider_info2 .informacion2 .pais img {
	position: relative;
	top:2px;
	margin-right: 10px;
}

.slider_info2 .informacion2 .texto {
	color: #55acee;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Cheri';
}

.slider_info2 .informacion2 .subtitulo {
	color: #444444;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 16px;
	font-family: 'Cheri';
}

/* Botones Slider Info */

.slider_info2 .informacion2 .botones {
	width: 100%;
}

.slider_info2 .informacion2 .botones span {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin: 0 10px;
	border-radius: 50%;
	background:#e6e6e6;
}

.slider_info2 .informacion2 .botones .active {
	background: #2C3E50;

}

.flex-caption p{
	font-family: Lato;
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	font-size: 45px;
	color: #000;
	font-weight: bold;
} 

/*Danny Descripción*/

/*SLIDER */



@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') 
  format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.flexslider{
	width: 100%;
	position: relative;
}

.slides{
	overflow: hidden;
}

.slides img{
	width: 100%;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-control-nav{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 5%;
	z-index: 999;
}

.flex-control-nav li{
	display: inline-block;
	margin: 0 6px;
}

.flex-control-nav li a{
	display: block;
	background: #777777;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	text-indent: -9999px;
}

.flex-control-nav li a:hover{
	background: #2E2E2E;
}

.flex-control-nav li a.flex-active{
	background: #2E2E2E;	
}

.flex-direction-nav a{
	display: block;
	text-decoration: none;
	position: absolute;
	top: 50%;
	z-index: 999;
	width: 40px;
	height: 40px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flex-direction-nav .flex-prev{
	left: 0;
}

.flex-direction-nav .flex-next{
	right: 0;
}

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: #fff;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

.flex-caption p{
	font-family: Lato;
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	font-size: 45px;
	color: #fff;
	font-weight: bold;
}

.flexslider:hover .flex-direction-nav .flex-prev{
	opacity: 0.7;
	left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover{
	opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next{
	opacity: 0.7;
	right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover{
	opacity: 1;
}

@media screen and (max-width: 500px){
	.slides img{
		height: calc(90% 20px); 
	}
}


/*Tarjeta de 3D*/

.contenedor2 {
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 20px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.contenedor_tarjeta:hover figure img {
	/* Si queremos podemos aplicar un efecto blur a nuestra imagen al girar */
	/*filter:blur(2px);*/
}

figure {
	width: 300px;
	height: 350px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	/* Nota:
		Establecemos que la imagen tendra una rotacion de 0grados al inicio porque si no
		ponemos esta propiedad nos da un poco de problemas en algunos navegadores al pasar el cursor.
	*/
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	background: #000;

	/* Podemos ocultar la imagen al da la vuelta si lo queremos */
	/*backface-visibility: hidden;*/
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

.contenedor_tarjeta:nth-child(2) figure .trasera{
	background: rgba(251,232,202,0.7);
	background: -moz-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,232,202,0.7)), color-stop(100%, rgba(25,44,72,1)));
	background: -webkit-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -o-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -ms-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: linear-gradient(to bottom, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 );
}

.contenedor_tarjeta:nth-child(3) figure .trasera{
	background: rgba(95,58,53,0.7);
	background: -moz-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,58,53,0.7)), color-stop(100%, rgba(221,32,47,1)));
	background: -webkit-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -o-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -ms-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: linear-gradient(to bottom, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 );
}


figure .trasera .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
}

@media screen and (max-width: 992px) { 
	figure .trasera {
		/*position: relative;*/
		backface-visibility:visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);	
	}

}

/*Redes sociales*/



.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 250px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		width:45px; 
		height:45px; 
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-googleplus {background: #c13584;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}
 
	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}


	/*Inicio del menú desplegable*/

.menu_desplegable {
	margin:auto;
	margin-top: 20px;
	margin-bottom:10px; 
    width:90%;
    max-width: 675px;
    overflow: hidden;
    height: 150px;
    position: relative;
}

.nav_menu_desplegable {
    top:-20px;
    position: absolute;
    left:0;
    right:0;
	margin:20px auto;
	max-width:600px;
	width:80%;
}

.nav_menu_desplegable ul {
	list-style:none;
}

.nav_menu_desplegable > ul {
	display:table;
	border-radius:10px; 
	width:100%;
	background:#000;
	position:relative;
}

.nav_menu_desplegable > ul li {
	display:table-cell;
}


/*Colores*/
.nav_menu_desplegable ul li .primero:hover{
	background:url(../img/coramish.png) #FAA0F4;
	background-size:60px;
	width:90%;
	max-width:800px;
	max-height:100px;
	background-repeat:no-repeat;
	background-position:center;   
}

.nav_menu_desplegable ul li .segundo:hover{
	background:url(../img/estrella.png) #2E4053; 
	background-size:60px;
	width:90%;
	max-width:800px;
	max-height:100px;  
	background-repeat:no-repeat;
	background-position:center;
}

.nav_menu_desplegable ul li .tercero:hover{
	background:url(../img/danny/rosa.png) #D7BDE2;
	background-size:60px;
	width:90%;
	max-width:800px;
	max-height:100px;  
	background-repeat:no-repeat;
	background-position:center;
}

.nav_menu_desplegable ul li .cuarto:hover{
	background:url(../img/usagi.png) #7D3C98;
	background-size:60px;
	width:90%;
	max-width:800px;
	max-height:100px;  
	background-repeat:no-repeat;
	background-position:center;
}

.nav_menu_desplegable ul li .quinto:hover{
	background:url(../img/robot.png) #2E86C1;
	background-size:60px;
	width:90%;
	max-width:800px;
	max-height:100px;  
	background-repeat:no-repeat;
	background-position:center;
}



.nav_menu_desplegable ul li .septimo:hover{
	background:url(../img/florgian1.png) #F1948A ;
	background-size:60px;
	width:90%;
	max-width:800px;
	max-height:100px;  
	background-repeat:no-repeat;
	background-position:center;
}

.nav_menu_desplegable ul li .octavo:hover{
	background:url(../img/ban.png) #C0392B;
	background-size:60px;
	width:100%;
	max-width:800px;
	max-height:100px;  
	background-repeat:no-repeat;
	background-position:center;
}



/*Fin del menu desplegable*/

/*Diseño de un div*/

.artistas{
	
	padding: 20px 10px;
	background:url(../img/Black.jpg);
	background-size: 550px;
	width: 100%;
	margin: auto;
	max-width: 700px;
	height: 200px;
	border-radius: 15px;
	color: #ECF0F1;
}

.artistas p{
	margin-top: 55px;
	justify-content: center;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Cheri';
}

/*Imagenes Mish*/



